.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book h2 {
    margin-top: 1rem;
    font-size: 1rem;
}

.book h4 {
    color: #617d98;
    font-size:'0.75rem';
    margin-top: '0.5rem';
    letter-spacing: 2px;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem;
    font-size: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #c35600;
    color: #fff;
}