nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: none;
  color: var(--white);
  letter-spacing: 3px;
  font-weight: 700;
}
.toggle-btn {
  width: 2rem;
  height: 2rem;
  background: var(--white);
  color: var(--primary-700);
  border-radius: var(--borderRadius);
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.toggle-btn:hover {
  transform: scale(1.05);
}


.nav-links {
    display: none;
}


@media  screen  and (min-width: 992px) {
    .nav-links {
        display: flex;
        justify-content: center;
        align-self: stretch;
    }

    .nav-center {
      align-self: stretch;
      display: grid;
      grid-template-columns: auto 1fr;
    }
    
    .nav-link {
      padding: 0 1rem;
      color: var(--white);
      background: transparent;
      border-color: transparent;
      font-size: 1.25rem;
      text-transform: capitalize;
      letter-spacing: var(--letter-spacing);
      cursor: pointer;
    }
}